.blue-grid{
    background-color: #E0EAFF;
}

.button-grid {
    min-height: 100%;
}

.row{
    min-width: 100%;
    min-height: 15%;    
    margin-top: 10%;
    margin-bottom: 10%;
}


.row-students{
    min-width: 100%;
    min-height: 45%;    
    margin-top: 10%;
    margin-bottom: 10%;
}

