.button-pictogram-square {
    min-width: var(--large-square-button-width);
    max-width: var(--large-square-button-width);
    height: var(--large-button-height);
    max-height: var(--large-button-height);
    --padding-start: 0;
    --padding-end: 0;
    text-transform: capitalize;
}

.button-pictogram {
    height: fit-content;    
    min-width: var(--pictogram-large-width);
    max-width: var(--large-button-width);
    text-transform: capitalize;
}

.pictogram-on-button{
    min-width: var(--pictogram-large-width);
    max-width: var(--pictogram-large-width);
    margin: 5px auto;
}

.button-pictogram .large-text{
    margin: auto;
}

.large-text{
   font-size: large;
}