.button-pictogram-square {
    width: var(--large-square-button-width);
    max-width: var(--large-square-button-width);
    height: var(--large-button-height);
    max-height: var(--large-button-height);
    --padding-start: 0;
    --padding-end: 0;
    text-transform: capitalize;
}

.button-pictogram {
    height: fit-content;
    width: var(--large-button-width);
    text-transform: capitalize;
}

.pictogram-on-button{
    max-width: var(--pictogram-large-width);
    margin: auto;
    margin-bottom: 5px;
}

ion-grid{
    height: fit-content;
    width: 100%;
    margin: auto;
}

.large-text{
   font-size: large;
}
