ion-card{
    width: var( --large-button-width);
    margin: 10% auto 0 auto;
    display: flex;
    align-content: center;
}

ion-img{
    margin-left: auto;
    width: var(--pictogram-large-width);
}

ion-card-title{
    margin: auto;
}

ion-item{
    width: 50px;
    height: 50px;
}

ion-text{
    margin: auto;
}

.card-grid ion-col{
    margin: auto;
}

.card-grid{
    width: fit-content;
    margin: 0 auto;
}

.button-grid{
    height: fit-content;
}

hr {
    border: 2px solid var(--ion-color-primary);
    background-color: var(--ion-color-primary);
    width: 100%;
  }
  
